$color-purple: #6441a4;
$color-purple-light: #b19dd8;
$color-grey: #7f8c8d;
$color-grey-light: #ecf0f1;
$color-white: #e1e1e6;
$color-black: #17141f;
$color-red: red;
$color-green: rgb(6, 255, 6);
$color-yellow: yellow;
