@import "../../styles/variables.scss";

.header {
    display: flex;
    justify-content: space-around;
    background-color: $color-purple;
    padding: 20px 0; 
    align-items: center;
}

.header-title {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: $color-white;
    text-transform: uppercase;
}

.header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}